body {
    background-image: url(../img/pattern.svg)
}

.header-area--custom {
    background-color: #00000099;
}

.mobile-header-custom {


    flex-direction: row!important;
    justify-content: center!important;

}

.mobile-menu-custom {
    position: fixed;
    width: 93%;
    background-color: white;
    z-index: 99;
    margin-top: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.img-header {
    background-image: url(../img/product.png);
    min-height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.main-container {
    display: flex;
    justify-content: center;
}

.main-work-flow {
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
    width: 90%;
    border-radius: 15px;
    top: -30px;
    position: relative;

}
